[2017-12-26 07:04] saitei opened #1 "Improve README documentation"
* Add images
* Add examples/sample file

[2017-12-26 07:05] saitei opened #2 "Templatize the script"
It should be able to pull in lists of currencies and wallet addresses from the spreadsheet

[2017-12-26 07:05] saitei opened #3 "Historical data"

[2017-12-26 21:16] myshli opened #5 "possible error in script"
I think you should use semicolon instead of comma in getWebRate
`var coinScrape2 = '";"//span[@id=\'quote_price\']")';`

[2017-12-26 21:19] #5 closed

[2017-12-27 00:41] sergeimikhailov771 opened #6 "TypeError on line 9 when running function: getData"
The following error message is returned when calling function getData:

`TypeError: Cannot call method "getSheetByName" of null. (line 9, file "Code") `

Below is line 9 from my copy of the script (latest commit c56800d)

`var ssRates = ss.getSheetByName('rates');`

![screenshot_1](https://user-images.githubusercontent.com/17913997/34367083-15f030ea-ea74-11e7-914e-00ac6d134b88.png)

And the full s

[2017-12-27 10:40] christafo opened #7 "market cap"
addition of market cap

[2017-12-27 14:45] solifugo commented on #7
-- Add this into "function getData"

// Set Market Cap USD

  ssRates.getMarketCap('F1').setValue(ABC);
  ssRates.getMarketCap('F2').setValue(BCD);
  ssRates.getMarketCap('F3').setValue(CDE);

-- Add this after "function getData" close

// function Market Cap USD

function getMarketCap(currencyId) {
  var url = 'https://api.coinmarketcap.com/v1/ticker/' + currencyId + '/';
  var response = UrlFetc

[2017-12-27 14:56] sergeimikhailov771 commented on #6
I do have a correctly named spreadsheet in Google Drive, also renamed page1 renamed to 'rates' (without the quotes)
It didn't change the error.

[2017-12-27 14:56] solifugo commented on #6
I tried your code and works once you add single quotes to  dogecoin
`var DOGE = getRate(dogecoin);`

btw, dogecoin?? really?? :P

[2017-12-27 14:57] sergeimikhailov771 commented on #7
Nice! Can you open a PR for this?

[2017-12-27 15:19] solifugo commented on #7
PR = Pull request?
Sorry, this is first time I "use" guthub, so no clue how to do it :P

[2017-12-27 15:27] solifugo commented on #3
Hi,
Hope this can help.
I tried in the past using ImportJSON from this API:
https://min-api.cryptocompare.com/data/histoday?aggregate=1&e=CCCAGG&fsym=ETH&limit=31&tsym=GBP

But was not able to make it work correctly.

Im sure you can find a way to add that to the code :D

[2017-12-27 15:38] hcjk commented on #7
A PR is a Pull Request 🙂

[2017-12-27 15:47] solifugo commented on #7
Tried.. but is too confusing :P
If someone can just copy that code and do it?
I will check tomorrow how to do that, I have couple of more ideas to add to the code

[2017-12-27 17:22] solifugo commented on #2
**What about this creating the variables from the column A?**

[code]

**These are the Other Functions called:**

[code]

[2017-12-27 18:00] sriikanth commented on #1
@saitei is the issue still open?

[2017-12-27 18:32] sergeimikhailov771 commented on #7
@solifugo does this look right? I can submit the PR for you, but I am not very familiar with js.

[code]

[2017-12-27 19:03] Angristan opened #8 "TypeError: Impossible to call the "getRange" method of null"
I created a sheet called `Rates` and gave access the script access to it.

[code]

![screenshot_27-12-2017_20-02-27](https://user-images.githubusercontent.com/11699655/34390577-fa365d02-eb40-11e7-9c36-69d48631d25f.png)

What am I doing wrong?

Thanks

[2017-12-27 19:26] sergeimikhailov771 commented on #6
Hmm... I Fixed the quotes on 'dogecoin', double-checked the rates sheet, it's ok. Error persists however :/

And Why dogecoin? That's an easy one, I joined way back for the memes, and stayed for the profits, which were actually pretty decent over time :+1:

[2017-12-27 20:18] solifugo commented on #8
Double check that the sheet is called Rates and not the spreadsheet file.. Had that error if you don't have the sheet created

[2017-12-27 20:30] Angristan commented on #8
@solifugo I'm sorry, what's the difference between the two?

Thanks for the help

[2017-12-27 20:49] LeMoise commented on #8
@Angristan
The top left of Google Docs displays the file name, this can be whatever you want. The bottom of the page will have 'Sheet1' by default, this is what you rename to Rates.

[2017-12-27 20:53] solifugo commented on #8
On this image, the spreadsheet is called "inspection checklist" and the sheet "sheet1"

Make sure your sheet is called Rates

https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/13015973984/original/GUlVucKdpGvbWfaQ3xxN2ce21uSnbd8ToQ.png?1482832755

[2017-12-27 20:54] Angristan commented on #8
Ah! I understand now, thanks!

[2017-12-27 20:54] #8 closed

[2017-12-27 21:31] Angristan commented on #8
BTW, does one of you know I can do this

Transform this line :

`ssRates.getRange('B1').setValue(BTC);`

Into something that would put the value of BTC into the cell of column, say D (or whatever, I want to define it), and line were the cell of one column would be = to BTC ?

eg:

![screenshot_27-12-2017_22-28-37](https://user-images.githubusercontent.com/11699655/34393785-5515256e-eb55-11e7-88a9-

[2017-12-27 21:42] Angristan commented on #8
Nevermind... https://chrome.google.com/webstore/detail/cryptofinance/bhjnahcnhemcnnenhgbmmdapapblnlcn?hl=en

[2017-12-28 07:21] christafo commented on #7
Getting several errors with my script - could you take a look?

Removed the wallet functionality as i don't want that... any reason why that will have caused problems?

`var queryString = Math.random();

function getData() {
  var ss = SpreadsheetApp.getActiveSpreadsheet();

  //
  //IMPORTANT: Create a sheet called 'Rates'.  This is where the values will be written
  //
  var ssRates = ss.getShee

[2017-12-28 08:24] solifugo opened #12 "Service invoked too many times for one day: urlfetch"
Hi guys.

I got this problem after multiple tests yesterday:

`Service invoked too many times for one day: urlfetch. (line 219, file "Code")`

Not sure about the limits we have, but seems like I'm over it for today...

In google defence, during the tests I was doing, I added 10 different coins and created few new functions to get change by hour, 24h, 7days, name, symbol, marketcap.. so that means

[2017-12-28 08:49] solifugo commented on #6
I dont understand..

Can you try to recreate rates sheet? or even copy and past the code you posted here?

I created a new spredseet, copied "your" code, and it works fine (after adding quotes to dogecoin as we mentioned earlier)

![image](https://user-images.githubusercontent.com/34858013/34405551-f6928d2c-ebab-11e7-85fb-dabe2103b30e.png)

`var queryString = Math.random();

function getData() {

[2017-12-28 09:16] solifugo commented on #7
I replaced getWebRate from your post and got that function from the original:
https://github.com/saitei/crypto-sheets/blob/master/scripteditor.js

`function getWebRate(currencyId) {
  //Example Output:
  // '=IMPORTXML("https://coinmarketcap.com/currencies/zeeyx?3908288283","//span[@id=\'quote_price\']")';

  var coinScrape1 = '=IMPORTXML("https://coinmarketcap.com/currencies/';
  var coinScrape2

[2017-12-28 15:22] LeMoise commented on #12
Looks like we can only make 20,000 calls a day based on info from [this link](https://developers.google.com/apps-script/guides/services/quotas)

[2017-12-28 15:34] solifugo commented on #12
I think im doing something very wrong...

Having 10 coins and 7 functions, I can only execute it less than 300 times.. hmmm

Need to understand how to avoid making a call to get each details

[2017-12-28 15:52] LeMoise commented on #12
I have an idea on how to fix it. I'll play around with it today.

[2017-12-28 15:55] solifugo commented on #12
Found this function that actually works, but is not 100% solution:

https://gist.github.com/varun-raj/5350595a730a62ca1954

[code]

[2017-12-28 16:16] LeMoise commented on #12
Had the same idea, caches the info for an hour before refetching the url.

`if(cacheUSD == null){
  var url = 'https://api.coinmarketcap.com/v1/ticker/' + currencyId + '/';
  var response = UrlFetchApp.fetch(url, {'muteHttpExceptions': true});
  var json = response.getContentText();
  var data = JSON.parse(json);
  cache.put(currencyId, data, 3600)
  }

  return parseFloat(data[0]['price_usd']);
}

[2017-12-28 17:02] LeMoise commented on #12
This code works:

[code]

I had to move these to the top of the code:
[code]

[2017-12-28 19:03] apiontek commented on #7
Solution to too many API requests would be to scrape API once to a var, and pass var to each "getrate" or "getmarketcap" function. I've completed this in my own version.

New function to get the full CoinMarketCap API ticker:

[code]

Modified getRate function:

[code]

**Use:**
In getData function, before assigning rate values to coin variables:
`var apiObj = getApiObj();`

After that, modify the

[2017-12-28 19:31] solifugo commented on #12
Let me check it tomorrow and see.

Could be a nice temporary solution, but I think someone posted a way to get the data directly into 1 variable and then, do the "gets" from it

[2017-12-28 19:34] solifugo commented on #7
Wow!

Can't wait to try it tomorrow.
Thanks for this.

I will need to find out a way to check the GBP market using this, but it is for sure a great approach.

Thanks for sharing!

[2017-12-29 01:05] christafo commented on #7
Sounds great, definitely do a PR!

On Thu, Dec 28, 2017 at 19:03, Adam Piontek <notifications@github.com>
wrote:

[2017-12-29 10:25] solifugo commented on #7
I got your code working with "My version" and looks great!!

I will need to make the call for every coin though, since coinmarketcap api doesn't show the prices in GBP market if you don't pass the coin name:

https://api.coinmarketcap.com/v1/ticker/bitcoin/?convert=GBP

`[
    {
        "id": "bitcoin",
        "name": "Bitcoin",
        "symbol": "BTC",
        "rank": "1",
        "price_usd": "

[2017-12-29 13:30] apiontek commented on #7
For GBP conversion in the API, this works for me: `https://api.coinmarketcap.com/v1/ticker/?convert=GBP`

That gets the full api listing with GBP values, so you could get the data once as I did and not have to hit them for each currency.

[2017-12-29 13:40] solifugo commented on #7
Oh, didn't know that you can just add ? To do that, let me try later

[2017-12-29 17:04] apiontek commented on #12
I added a pull req for a change that gets full /ticker/ api, stores in object variable, passes object var to getRate function, which gets rate from object rather than making call.

[2017-12-30 03:12] saitei commented on #12
Try this out.  If it works I'll merge to master.
https://github.com/saitei/crypto-sheets/blob/develop/scripteditor.js

[2017-12-30 03:13] saitei commented on #7
Try this out
https://github.com/saitei/crypto-sheets/blob/develop/scripteditor.js

[2017-12-30 07:44] iKrazy opened #15 "EMC2 returns an error"
line90:    while (coins[n]['symbol'] !== myCoins[i]) {

TypeError: Cannot read property "symbol" from undefined. (line 90, file "Code")

[2017-12-30 07:50] iKrazy commented on #15
This is because of coinmarketcap not pulling up certain coins in the pull.

[2017-12-30 08:39] solifugo commented on #15
Hmm.. looks like you will need to do an exception and setup a call for that one with its coinmarket ID:

https://api.coinmarketcap.com/v1/ticker/Einsteinium/

Let me see if there is a way to make sure we get all the coinmarketcap coins

[2017-12-30 08:45] solifugo commented on #15
Ok, I think this is working:

https://api.coinmarketcap.com/v1/ticker/?start=1&limit=1000

Let me check with the gurus later if we can add that way so we dont miss any coin. And please, report any other issue you can find so we get it fixed :)

[2017-12-31 07:30] apiontek commented on #12
It fails on symbol 'ZEN' (zencash) for me. Problem is the fetch URL ending in '?':

`var url = 'https://api.coinmarketcap.com/v1/ticker/?convert=' + targetCurrency + '&limit=0?';`

which for me results in `https://api.coinmarketcap.com/v1/ticker/?convert=usd&limit=0?`

For some reason with the extra `?` on the end, the returned results don't include zencash. Haven't checked if any other coins are

[2017-12-31 07:34] solifugo commented on #12
Try this:

https://api.coinmarketcap.com/v1/ticker/?start=1&limit=2000

For what I understand, the API has around 1200 coins

[2017-12-31 07:38] solifugo commented on #12
With USD / GBP:

https://api.coinmarketcap.com/v1/ticker/?start=1&limit=2000&convert=USD

https://api.coinmarketcap.com/v1/ticker/?start=1&limit=2000&convert=GBP

[2017-12-31 07:39] apiontek commented on #12
Works fine for me with limit=0

[2017-12-31 07:43] solifugo commented on #12
Ahh, ok sorry. I thought it didn't work with the limit=0..it was just the '?' at the end..

[2018-01-01 11:55] brobro16 opened #17 "Cannot call method "getRange" of null. (line 42, file "Code")"
Only new to this have not used google script before.

Created new sheet called "Rates" pasted the contents of scripteditor.js file into panel.

Tried to run then by means of Run -> RunFunction -> getData  but then get a compile error:
Cannot call method "getRange" of null. (line 42, file "Code")

Probably something simple I am doing or not doing. Thanks

[2018-01-01 11:59] zagnuts commented on #17
Make sure you name the sheet (ie the tab on the bottom) 'Rates'. The google spreadsheet is actually a document, with the script a macro in that document. I did the same thing - been using Excel for too long. ;-)

[2018-01-01 23:20] iKrazy commented on #15
1372 might have been how many they support when you queried the api. It is showing 1381 for me, so might be good to set a limit of 2000 for now.

[2018-01-01 23:26] iKrazy opened #18 "BTM Bytom/Bitmark Mixup"
Symbol BTM returns coin Bytom, but I am looking to return BTM Bitmark.

[2018-01-01 23:28] iKrazy commented on #15
`  var url = 'https://api.coinmarketcap.com/v1/ticker/?convert=' + targetCurrency + '&limit=1500?';`

to

`  var url = 'https://api.coinmarketcap.com/v1/ticker/?start=1&limit=1500';`

[2018-01-01 23:28] solifugo commented on #15
No need. The code includes "no limit" now
https://api.coinmarketcap.com/v1/ticker/?convert=' + targetCurrency + '&limit=0?';

[2018-01-01 23:31] solifugo commented on #18
Please, paste your code and the coins you want to "get" so we can check

[2018-01-01 23:31] iKrazy commented on #15
Need to remove the ? after limit=0 or it will still break on EMC2.

[2018-01-01 23:33] iKrazy commented on #18
`var queryString = Math.random();
var ss = SpreadsheetApp.getActiveSpreadsheet();

var ssRates = ss.getSheetByName('Rates');

var targetCurrency = 'usd'

// Grabs all CoinMarketCap data
if (typeof targetCurrency == 'undefined' || targetCurrency == '') {targetCurrency = 'usd'};
var coins = getCoins();

function getData() {

  // ===== Coins to Track ======
  // Enter the coins you want tracked, eac

[2018-01-01 23:34] iKrazy commented on #18
Formatting messing up when I try to post here. https://pastebin.com/WEkwT8p5

[2018-01-01 23:39] #15 closed

[2018-01-01 23:42] solifugo commented on #18
https://api.coinmarketcap.com/v1/ticker/?&limit=0

Can you check (sorry my mobile can't do the search for the whole list) if they actually have same symbol? (BTM)

[2018-01-01 23:46] iKrazy commented on #18
No worries, yes they both have the symbol BTM, but Bytom is a higher rank than Bitmark.

[2018-01-01 23:49] solifugo commented on #18
We had the code to search for "id" before, but adding the coin symbol was easier and friendly..

We may need to go back to id or check for other options

[2018-01-01 23:55] solifugo commented on #12
Current code only needs 1 fetch independently of the number of coins.. So let's close this

[2018-01-01 23:55] #12 closed

[2018-01-01 23:57] solifugo commented on #7
Market cap was added. @christafo can we close the issue?

[2018-01-01 23:58] iKrazy commented on #18
Would it be easier to add a part for exceptions? if the id = ___ then skip it until the next instance of the symbol type thing.

[2018-01-01 23:58] solifugo commented on #6
@sergeimikhailov771 can you check the current code and close the issue if it works for you?

[2018-01-02 00:01] solifugo commented on #18
I think that will make things more complex.

"id" should be unique, so I think will be a good idea to use it

Can't imagine the confusion in the exchanges with that...

[2018-01-02 01:23] grutty opened #19 "TypeError: Cannot read property "symbol" from undefined. (line 80, file "Code")"
I'm getting this error when adding coins to my list. The list works fine. But when I add any additional symbols, I get this error: TypeError: Cannot read property "symbol" from undefined. (line 80, file "Code")

Line 80:  while (coins[n]['symbol'] !== myCoins[i]) {

//My list. I've tested adding multiple different symbols and keep getting the error. e.g.: 'PAC',

  var myCoins = [
    'ARK',
    '

[2018-01-02 01:46] zagnuts commented on #19
Check your "Rates" sheet and see where it gets up to before stopping. Alternatively, comment out all but the original list and then slowly add your coins in a few at a time & manually run the script until you eventually find which is causing the issue.

I found that one of my coins (or rather a token) broke things so I have to do that one manually. In my case it was "Simple Token" which has (or ra

[2018-01-02 02:46] #19 closed

[2018-01-02 03:34] iKrazy commented on #18
True. Changing to using 'id' and changing the symbols to ids worked.

[2018-01-02 03:34] #18 closed

[2018-01-02 14:39] christafo commented on #7
Yep, thanks guys!

[2018-01-02 14:39] #7 closed

[2018-01-02 14:52] solifugo commented on #17
@brobro16 can you please confirm if you have solved the problem? If yes, please let's close the issue

[2018-01-02 15:01] apiontek opened #21 "getCoins url doesn't fetch some coins"
As previously [mentioned here](https://github.com/saitei/crypto-sheets/issues/12#issuecomment-354589785) the getCoins URL has an extra `?` at the end which, for whatever reason, causes some coins to be excluded.

For some reason with the extra `?` on the end, the returned results contain only the top 100 coins, same as without "limit=0" ... so the fix has been negated. I'm not sure why the extra `

[2018-01-02 15:08] solifugo commented on #21
I think we have pull request for that already:

https://github.com/saitei/crypto-sheets/pull/20

[2018-01-02 15:35] saitei commented on #18
Weird, good catch.  I thought symbols were unique as well.  That's an oversight on my part.  I changed it to symbols because it's more of a pain for people to look through the api list to find the correct ID.  I think we may just need to provide a list that's updated periodically with the `name`, `id`, and `symbol` of the coins in the API.

[2018-01-03 00:42] brobro16 commented on #17
yes that was it thanks - Needed to name the sheet.  ;)

[2018-01-03 00:42] #17 closed

[2018-01-03 00:59] vuralanli opened #22 "Auto color percentage changes."
I thought it would be nice if the changes in percentage(%) would be auto colored(if it went down red, green if it went up and white if it stayed the same.)
So I made a function for it myself. I call this method in the getData method.
[code]

Feel free to use it or dismiss this issue.

[2018-01-03 05:42] saitei commented on #22
There's conditional formatting built into Google Sheets if you weren't aware.  Pretty cool the way you did it though.  I haven't shared my actual template, but the work so far was just meant to populate a sheet to use in another sheet.  I'll definitely keep it in mind though.

![image](https://user-images.githubusercontent.com/34850610/34510102-f40d58b2-f01e-11e7-8ceb-e5ed45842129.png)

[2018-01-03 06:16] iKrazy commented on #22
I have mine set up for conditional formatting as well. Don't think it would be a good idea to try to make the sheet from the script as saitei said.
![image](https://user-images.githubusercontent.com/982923/34510628-40568e7c-f01b-11e7-8796-7205f59eebbf.png)

[2018-01-03 06:17] iKrazy commented on #21
#20 got merged can you close this please @apiontek

[2018-01-03 13:11] saitei commented on #21
@iKrazy Closing

[2018-01-03 13:11] #21 closed

[2018-01-03 14:24] #22 closed

[2018-01-03 14:25] vuralanli commented on #22
Thank you for the feedback I will also switch to the conditional formatting in GS.

[2018-01-03 15:20] saitei commented on #22
I think it would be a good option when I get around to auto generating the presentation layer.  It could be a toggle.  I'd want to interface directly with the conditional formatting though instead of manually setting backgrounds.

Looks like you can do it via `Sheets.newConditionValue()` and `Sheets.newCellFormat()`
https://developers.google.com/sheets/api/guides/conditional-format

[2018-01-03 23:37] ddarbs opened #24 "Update Readme to include Refresh Button"
Sloppy editing but you get the idea.

![image](https://user-images.githubusercontent.com/982923/34544430-d977f16e-f0ab-11e7-87cb-f557da045707.png)

![image](https://user-images.githubusercontent.com/982923/34544412-b9e82f1c-f0ab-11e7-9d18-314386cfb159.png)

![image](https://user-images.githubusercontent.com/982923/34544456-00715f08-f0ac-11e7-9ffa-3844d7dca279.png)

![image](https://user-images.git

[2018-01-04 01:45] LesterCovax commented on #24
IIIIII had no idea you could do that.  On the flip side, if you use the `From spreadsheet` > `on open` trigger,  you can simply refresh the page to trigger it.

[2018-01-04 04:40] ddarbs commented on #24
I have all three, on open, every 30 min, and refresh button, set up :)

[2018-01-04 09:21] Project-42 commented on #24
wow, that is a great idea. Thanks for sharing!

[2018-01-04 18:44] RJMoise commented on #3
I wrote a quick function to save data to a sheet called history, not sure if its exactly what you are talking about or not. Basically I have a 4 hour trigger on my getData and getHistory, so when the data updates its sent to the history page. It only saves data since you started using it, not the whole history of the coin.
I'm sure a more talented coder could enhance its abilities. I've attached a

[2018-01-06 04:02] LesterCovax commented on #3
Nice!  Yeah, pretty much that.  IMO 1/day would be fine but the user could define their trigger.  I've already been running into execution time limits with sheets since the overhaul.  They annoyingly have limits on items per call and script execution time.  I think the path forward is splitting up the custom functions/overall scripts more.

Is that graph on the left just using the wrong axis?  Wer

[2018-01-06 10:31] ddarbs opened #25 "last_updated to usable format"
This might be more of a user thing, but could be something to add in the readme.

For UTC `=O2/60/60/24 + DATE(1970,1,1) `

to change it to UTC-6 `=O2/60/60/24 + DATE(1970,1,1) - 6/24`

to change it to UTC+6 `=O2/60/60/24 + DATE(1970,1,1) - 30/24`

Remember to change the format of the cells after setting the formula.

![image](https://user-images.githubusercontent.com/982923/34638923-5c92eff4-f29b

[2018-01-06 11:49] Project-42 commented on #25
What I do is to use it as a timer check, so I know how old the prices are

=CONCATENATE("Prices Updated ",round((NOW()-(Rates!H2/86400+date(1970,1,1)))*24*60), " Minutes ago")

That is what I included in the guide.

I could add your option as well, so people have more options
But not sure if we should change the script code, leave it as "raw" data and we can do wherever we want in the portfolio sh

[2018-01-06 11:51] Project-42 commented on #25
BTW, please have a look to the guide in the wiki, I really will appreciate some feedback there

[2018-01-07 00:35] cdb8457 opened #26 "Issue on line 106"
![image](https://user-images.githubusercontent.com/21016001/34645348-371314f0-f310-11e7-842f-9bf7d46747ed.png)

![image](https://user-images.githubusercontent.com/21016001/34645356-52db2100-f310-11e7-83e5-5e9b8d74cec3.png)

[2018-01-07 00:35] #26 closed, assigned to nobody

[2018-01-07 00:35] cdb8457 commented on #26
Spelling error ....Found it

[2018-01-07 17:05] corpetty commented on #25
Why do you have `H2` in your formula?  That's market cap.  Also, are you only using the top coin as your reference for when stats were updated?

I can't seem to find in  your guide where you detail this information.

[2018-01-08 10:36] Project-42 commented on #25
Hi @corpetty

We have added some reference for that in the wiki https://github.com/saitei/crypto-sheets/wiki/Easy-guide-(I-hope)-to-create-a-Portfolio-Tracker

I need to update it anyway since the calculation is based in GMT, so I will need to add some clarification how to get it done in different timezones, or just change your spreadsheet preferences to GMT+0

[2018-01-08 15:41] RJMoise commented on #3
I found that every 4 hours was to often as well. Of course the trigger is person specific so it can be whatever is needed. Yeah I think the left graph looks goofy Im not a chart guy by any means and I was trying to visualize each coins gains/losses but I ended up removing it and just leaving the totals chart.

[2018-01-09 22:43] dbuskariol commented on #3
@LeMoise could you share the getHistory() function you wrote? This is exactly what i'm after 😄

[2018-01-10 23:25] whatgrindsmygear opened #28 "TypeError: impossible to get data error at "getRange" di null. (riga 61, file "Codice")"
#if i try to run the code, like in the last screenshot of the first part, and get the data, i get an error in line 61

![error](https://user-images.githubusercontent.com/34898071/34801297-30a96082-f668-11e7-8ad1-a9dfcaf42ed0.PNG)

[2018-01-11 04:26] RJMoise commented on #3
This is my (probably) poorly written history function. I have a sheet that multiples the coins BTC value by the amount of each coin I hold and places them in a column. Then I just read in those values once a day and record them. I then calculate the change between yesterdays total and todays to get an rough gain/loss percentage per day.
![image](https://user-images.githubusercontent.com/16618818/3

[2018-01-11 11:45] anon-sportycto commented on #3
Looks like a really good start. I found a way to clean it up a little bit. In your sheet, have a `Date` column that increments by 1 day at a time. Somewhere else in the same sheet, have a `Todays Date` cell with this in it `=MATCH(today(),'Crypto Value Over Time'!B1:B)`, (the name of my sheet is "Crypto Value Over Time", and the date column is `B`. This will put the current date's row number into

[2018-01-12 02:26] GeekBoxIT opened #29 "Added LTC and other Scrypt coins via https://chainz.cryptoid.info/"
Found cryptoID Explorer while I was searching for one that would do LTC. Here is how I did LTC (essentially copied VTC)
https://chainz.cryptoid.info/

**cryptoID API Info:** https://chainz.cryptoid.info/api.dws

Under the Wallet Balance Configuration

    // ===== LTC wallet balances =======
    // Add more as needed with different variable names
    // Change the value in getRange() to match the

[2018-01-12 11:56] Project-42 commented on #28
Hi, looks like a different code version.
It looks like code could be missing the Rates sheet in your file.

Please, check you are using current script. Will mke easier to know what is the issue.

Once you have that, check both guides to make sure you setup the code into your spreadsheet file:

https://github.com/saitei/crypto-sheets/blob/develop/README.md

https://github.com/saitei/crypto-sheets/w

[2018-01-14 02:38] LesterCovax commented on #25
@iKrazy @solifugo So what do you think?  Hardcode that formula in to convert to UTC (non-unix format) or just keep the raw data in that column and take solifugo's approach to add an additional column with the conversion?

[2018-01-14 02:42] LesterCovax commented on #28
@whatgrindsmygear Looks like you may not have created a `Rates` sheet

[2018-01-14 08:20] ddarbs commented on #25
@saitei I have been using an additional column with the conversion. I am not sure if people want the UNIX timestamp in general though.

[2018-01-14 10:20] Project-42 commented on #25
Well, in eithercase, we will need to either convert the spreadshet into UTC or make sure the Date conversion works with "local time" (I guess the spreadsheet has something like that)

I cant find an easy conversion formula that automatically check your spreadsheet setting, and not sure how that will work for daylight saving..

So, either we convert the spreadsheet to UTC from the Script, we add th

[2018-01-14 17:45] TommySollen opened #30 "Script permission security issue"
When trying to add the getdata trigger the document owner is asked to approve the following permissions:

- Create new spreadsheets
- View and modify existing spreadsheets
- Share spreadsheets with others

Does this in fact mean the script has access to all the owner's spreadsheets?

[2018-01-16 14:33] ddarbs commented on #30
@saitei @solifugo

Adding the below snippet to the top of the script will change this, #31

[code]
https://developers.google.com/apps-script/guides/services/authorization

[2018-01-16 15:38] ddarbs commented on #24
Found another way to have a refresh option. You would still need to set a trigger to run this on spreadsheet open.

[code]

[2018-01-16 17:45] ddarbs commented on #6
Still broken?

[2018-01-22 11:58] srnka opened #32 "TypeError: Cannot read property "id" from undefined. (line 102, file "Code")"
Hello there I am getting this error, crosschecked IDs on the list and all are correct.

Any thoughts?

thanks 👍

[2018-01-22 15:31] LesterCovax commented on #32
Can you create a patebin of your list of coins in the script?

[2018-01-22 23:50] ddarbs commented on #29
Added in #31

[2018-01-23 00:44] LesterCovax commented on #29
merged

[2018-01-23 00:44] #29 closed, assigned to nobody

[2018-01-23 00:46] #28 closed, assigned to nobody

[2018-01-23 00:47] LesterCovax commented on #30
Fixed in #31

[2018-01-23 00:47] #30 closed, assigned to LesterCovax

[2018-01-23 00:47] LesterCovax commented on #6
no user update

[2018-01-23 00:47] #6 closed

[2018-01-23 10:45] srnka commented on #32
Hey I managed to get it working have made a silly mistake and that was pulling script from GitHub not local, it works now :).

Thanks a lot for your work :)

![capture](https://user-images.githubusercontent.com/9066404/35271562-68ffa0e2-002a-11e8-9c61-f64776d75336.PNG)

[2018-01-23 14:13] #32 closed, assigned to nobody

[2018-01-24 19:54] LesterCovax opened #35 "Add overall coinmarketcap data"
Request from Reddit user.  This can be pulled from API.

[2018-01-25 05:17] ddarbs commented on #35
I'm sure it can be improved. Also patched last update as described in my other comment on #25

[code]

[2018-01-25 06:15] ddarbs commented on #25
I think I've solved it @saitei @solifugo

[code]

[2018-01-27 12:43] Project-42 commented on #35
It works for me and since we shouldn't have to edit/add anything on there, I like how you just integrated the whole funtion, so we can add it to the script under:

`// DON'T TOUCH ANYTHING BELOW UNLESS WIZARD
//       IT MAKES THE MAGIC HAPPEN`

One minor change, I would go for .toFixed(0)... but I guess is personal preference.

Another thing is that we will need to set a new trigger for that one,

[2018-01-27 19:41] ddarbs commented on #35
Yeah the rounding is purely personal preference, and I'm sure (0) would be generally be better.

The last update should do: (time during running of script in unix) - (last_updated) / 60 and yes this relies on you setting a trigger for getGlobal or manually refreshing it with the menu button. When fully set up I think the 'Minutes ago' is better than date time, but if not set up properly can be con

[2018-01-28 12:12] Project-42 commented on #25
The problem I see with this is that is not updated over time.
Having this code in the sheet (cant find a way to set it up in the script) you will see how the time increase until the data collection is trigger again:

`=CONCATENATE("Prices Updated ",round((NOW()-(Rates!O2/86400+date(1970,1,1)))*24*60), " Minutes ago")`

[2018-01-28 20:46] ddarbs commented on #25
Yeah true, but I thought the whole point was we were trying to get last update from unix to a readable format in the same cell/keep it in the script. I will try setting it to date time instead of minutes ago.

[2018-01-28 20:55] Project-42 commented on #25
Yes, I think will be easier to just set it up to "date" and do "last update" - "now" simpler

[2018-01-29 23:45] ddarbs opened #37 "Ability to convert BTC prices to ETH prices"
request from: https://www.reddit.com/r/cryptosheets/comments/7t3djc/possible_to_add_price_eth_to_cryptosheets/

this is what I have so far, use it with '=getEthereumConversion(E2)' and copy paste down

[code]

[2018-01-30 02:32] robtylerphillips commented on #37
Hey iKrazy, thanks for the help. My code is giving me the correct ETH conversion but it's off by a factor of 100. As in the decimal is 2 places to the left. Is it me or the code?

[2018-01-30 04:22] ddarbs commented on #37
@robtylerphillips my fault, I think I fixed it

[2018-01-30 06:25] robtylerphillips commented on #37
@iKrazy, I just copied and pasted that code in there and it moved the decimal over to the left two more places (now 4 places to the left from where it should). I just pasted this at the end overwriting your former code.

Sorry I am trudging through learning java...

[2018-01-30 08:23] ddarbs commented on #37
@robtylerphillips yeah you will need to delete the old code, and make sure you update the formula in the sheet to use E2. I will get you a pastebin of my script tomorrow, so you can copy paste the whole thing.

[2018-01-30 16:51] ddarbs commented on #37
@robtylerphillips https://pastebin.com/raw/f3FL9sps if you want to try copy pasting the one I am working with. Be sure to copy your current coin list before you delete it.

[2018-01-31 17:48] UnisexSigntaure opened #38 "Using too much server time?"
https://imgur.com/a/atvAf

Set up the spreadsheet after following all the guides and looks to be working perfectly. Only problem is every day since I set it up I'm getting this e-mail. I have it set to getData after every 15 mins like the guide (step 7) shows. Have I done something wrong?

Thanks

[2018-01-31 20:14] ddarbs commented on #38
Think it is being looked in to. In the meantime you can try setting the trigger to refresh every 30 min or even 1 hour, then you could use an onOpen trigger and refresh the page, or use a button with the script assigned to refresh on demand.

[2018-02-01 05:29] therealpineappleguy commented on #38
I have also been experiencing the issue mentioned by Unisex Signature since setting up. Everything else had been perfectly working throughout the past week.

Today I had a bunch of columns showing "N/A" with a notification that "percent column must be numeric" when I had not changed anything.

[2018-02-01 05:47] ddarbs commented on #38
@therealpineappleguy If you didn't do anything to the script or the sheet, then I'm not sure how it could be giving errors now. As far as the Google Sheets failure emails: did you try what I mentioned in my other comment?

[2018-02-01 06:24] Project-42 commented on #38
Can any of you paste their code? I want to try.

Regarding the N/A errors, that could be a temporary issue with the API access or a change of coin id (raiblocks changed to nano for example)

[2018-02-01 06:27] UnisexSigntaure commented on #38
Yeah I was going to say @therealpineappleguy I bet the N/A is because of the Raiblocks name change. Changing it to Nano sorts out the N/As.

I have changed my settings @iKrazy to onOpen and will give it a go today and see how I get on

[2018-02-01 14:56] therealpineappleguy commented on #38
initially changed to Nano before reaching out and changed the ID (which
still seems to be 'raiblocks' on CoinMarketCap API). tried both 'nano' and
'raiblocks' neither works. just hid the column for now.

still not sure about the percent column formatting. what code would you
need me to paste?

On Thu, Feb 1, 2018 at 1:27 AM, UnisexSigntaure <notifications@github.com>
wrote:

--
*Perry J. Finley*
3

[2018-02-01 23:47] ddarbs commented on #38
Not sure why people would have the N/A errors if they have the 1.0 build from Master. It pulls by ID not by name, and the ID of raiblocks stayed the same. Post your entire code from the Script Editor in to a pastebin and link it if you are having problems.

![image](https://user-images.githubusercontent.com/982923/35709386-f3470b7e-0777-11e8-888a-25fb76781830.png)

[2018-02-02 00:44] ddarbs commented on #25
@solifugo I think this will work; it's in my latest commit.

[code]

combined with
[code]

[2018-02-03 02:34] rapt-up commented on #32
Hello, I am getting the same TypeError. I added more to myCoins list and when I hit the button to run data this message came up. Not sure how to fix it. Suggestions?

The TypeError directed me to this line of code:

   while (coins[n]['id'] !== myCoins[i]) {

Thank you!

[2018-02-03 02:39] rapt-up opened #39 "TypeError: Cannot read property "id" from undefined. (line 134, file "Code")"
Hello, I am getting the same TypeError that another user experienced in one of the closed issues. I added more coins to myCoins list and when I hit the button to run data this message came up. Not sure how to fix it. Suggestions?

The TypeError directed me to this line of code:

while (coins[n]['id'] !== myCoins[i]) {

which is line 100 in your crypto-sheets/scripteditor.js

Thank you!

[2018-02-03 03:05] ddarbs commented on #39
Can you copy your entire script to a pastebin and link it here please? I would guess that one of the coins isn't formatted correctly.

How it should be: `'bitcoin',`

How you might have it: `'bitcoin'`

[2018-02-03 03:12] ddarbs commented on #35
Creates the 'Global' sheet, grabs the global data from CMC, converts last_updated and formats to date time. It is in my latest commit, and will be put in with #36.

[code]

[2018-02-03 04:57] rapt-up commented on #39
https://pastebin.com/4xC9qpUp

[2018-02-03 05:28] iKrazy commented on #39
`‘chainlink’` to `‘chainlink’,`

[2018-02-03 05:33] rapt-up commented on #39
I tried it a couple times and it still causes the same error

[2018-02-03 05:37] ddarbs commented on #39
'ox' isn't a coin, are you looking for 'ox-fina'?

[2018-02-03 05:42] rapt-up commented on #39
"id": "0x",
        "name": "0x",
        "symbol": "ZRX",

[2018-02-03 06:49] ddarbs commented on #39
The script will pull by `"id"`, so you would use `'0x'` instead of `'ox'`. Let me know if that works for you.

[2018-02-03 09:46] ddarbs commented on #37
https://www.reddit.com/r/cryptosheets/comments/7t3djc/possible_to_add_price_eth_to_cryptosheets/dtm8vz6/

zomskii showed you can do the ETH conversion with no new functions by changing

`var targetCurrency = 'usd'` to `var targetCurrency = 'eth'`

[2018-02-03 09:46] #37 closed, assigned to nobody

[2018-02-03 17:51] rapt-up commented on #39
Thank you so much, that was it!

[2018-02-03 20:47] #39 closed, assigned to nobody

[2018-02-04 08:46] gosuto-inzasheru opened #40 "ReferenceError: "activeSpreadsheet" is not defined. (line 146, file "Code")"
Looks to be old code...

[2018-02-04 08:51] ddarbs commented on #40
Seems like you're missing a variable, can you post your entire script into a pastebin?

[2018-02-04 16:09] LesterCovax commented on #38
@therealpineappleguy
As solifugo said, we'll need to look at your script.  I tried to replicate it and couldn't.  Just put it in a pastebin and remove all personal info (e.g. wallet addresses / API keys).

Yeah, ID is definitely still `raiblocks`

[2018-02-04 16:59] LesterCovax commented on #35
Works for me now.  Nice job.  Good to close?

![image](https://user-images.githubusercontent.com/34850610/35779934-c5e78e10-09a2-11e8-8eea-dc5263cb4800.png)

[2018-02-04 17:00] LesterCovax commented on #25
Works for me.  Good to close?

![image](https://user-images.githubusercontent.com/34850610/35779948-ee47ef3a-09a2-11e8-9b90-49e4891be824.png)

[2018-02-04 19:37] #40 closed, assigned to nobody

[2018-02-04 19:37] #35 closed, assigned to iKrazy

[2018-02-04 19:38] #25 closed, assigned to nobody

[2018-02-07 03:13] robtylerphillips commented on #37
I'm getting an error for some reason now.

2/3/18 5:52 PM | getData | Cannot call SpreadsheetApp.getUi() from this context. (line 64, file "Code") | time-based | 2/3/18 5:52 PM

[2018-02-25 22:34] pierrediancourt opened #42 "Permit to change the numeric separator"
Just a proposition :

I had to add a replace to change the dots as commas in numbers in get to get my calculus against this sheet to work.
That's a dirty way and i'm sure you can make it better with a configurable variable before the "do not change below" section.

`    ssRates.getRange('A' + r).setValue(myCoinsObj[myCoins[i]]['id']);
    ssRates.getRange('B' + r).setValue(myCoinsObj[myCoins[i]]['

[2018-02-26 00:21] ddarbs commented on #42
I think the general users of this sheet will use periods instead of commas when doing math. Any thoughts?
 @LesterCovax @solifugo

[2018-02-27 22:24] LesterCovax commented on #42
Yeah, I'd say that the regions that use commas in that circumstance are less represented in the user base.  My recommendation would be to not edit the code but instead use custom formatting within the spreadsheet.

You can easily change it without any code changes by going to `File > Spreadsheet Settings > Change Locale` or set it in the script with something like `spreadsheet.setSpreadsheetLocale

[2018-02-27 22:25] #38 closed, assigned to nobody

[2018-02-27 22:52] #24 closed, assigned to nobody

[2018-02-28 10:13] pierrediancourt commented on #42
Agreed, seems right :)

[2018-02-28 10:13] #42 closed, assigned to nobody

[2018-03-01 05:36] anubhavyadav opened #43 "TypeError: Cannot read property "id" from undefined. (line 122, file "Code")"
how will we remove this error, please let me know if anything else is required
![screenhunter_ mar 01 11 04 21](https://user-images.githubusercontent.com/32266762/36828547-84a4bf20-1d40-11e8-85f2-a256dc06e3a5.jpg)

[2018-03-01 07:58] ddarbs commented on #43
One of your id’s under MyCoins doesn’t have a match on cmc. Can you post your code?

[2018-03-05 12:44] shawnholbrook opened #44 "Price Predictions (Feature Request)"
Is there anyway we can pull in data from WalletInvestor or a site similar to it for price predictions?
Here is one of their pages that has 3 numbers listed: current price, 1-year forecast price, and 5-year forecast price
https://walletinvestor.com/forecast/bitcoin-prediction
I'd like to be able to pull in these numbers on to a separate sheet. Lastly, I appreciate the work everyone has already done

[2018-03-06 21:45] B1gB1rd1400 opened #45 "[Feature Request] Adding exchange API support"
A feature request that I have is to add support for the major exchanges, Binance, GDAX, etc with API support for importing balances and or transactions.

[2018-03-09 07:47] ddarbs commented on #43
@jovianastronaut Working?

[2018-03-10 05:39] LesterCovax commented on #45
This has been brought up before, when someone gave mercuryapp.io as an example.  I looked into the library that they use and I don't think it's feasible with google sheets since the closest implementation that would work is using node.js.

* https://mercuryapp.io/settings
* https://github.com/ccxt/ccxt

That means a lot of extra API work, and potential implications.  The script is already pushing

[2018-03-10 05:42] LesterCovax commented on #44
Thanks for the kind words!

You could do it by using XPath queries if they don't have an API available with that data.  Here's an example of how I used that originally to grab prices.
https://github.com/LesterCovax/crypto-sheets/blob/develop/scripteditor.js#L432

[2018-03-10 05:45] LesterCovax commented on #37
Try just running the function that's pulling the data.  Are you getting this when running it manually or through triggers?  If you don't have the page open you can get this error.

Here are the triggers I use:

![image](https://user-images.githubusercontent.com/34850610/37238809-51994ec6-23fc-11e8-96b3-32f6a4800e8f.png)

[2018-03-16 10:08] shawnholbrook commented on #44
I hate to ask you to be more specific, but to be honest I'm not good at all with the script stuff.  How exactly can I do that?

[2018-03-27 03:59] linglung commented on #43
Hi
Same error here. Just change 'Raiblocks' to "nano" since Raiblock has rebranded it's name and CMC already updated.

var myCoins = [
    'ark',
    'bitcoin-cash',
    'bitcoin',
    'ethereum',
    'digibyte',
    'litecoin',
    'monero',
    '**nano**',
    'vertcoin'
  ]

[2018-03-27 04:18] #43 closed, assigned to nobody

[2018-07-24 16:55] CharlesChow opened #46 "SyntaxError: Unexpected token: < (line 274, file "Code")"
There is a syntax error when I tried to run the script and I saw the coinmarket API is shut down and using version 2. Is there is any way related?
![error](https://user-images.githubusercontent.com/10412963/43154002-715c5a0e-8fa5-11e8-9b78-38b645fe162e.jpg)

[2018-07-25 21:43] LesterCovax commented on #46
It appears to be working for me still via the `v1` API.

![image](https://user-images.githubusercontent.com/34850610/43228701-484b617e-9030-11e8-9765-985402371b38.png)

Thank you for bringing that to my attention though 👏 that they're moving to a new API version (`v2`) and scrapping `v1`.  Looks like we have until November '18 to switch over 💩.  The `v1` API is still functioning though, which you

[2018-07-25 22:02] LesterCovax opened #47 "Upgrade to use Coinmarketcap v2 API instead of v1 (EOL is Nov '18 for v1)"
![image](https://user-images.githubusercontent.com/34850610/43229372-8e485090-9032-11e8-94d9-6e492f2f0785.png)
[source](https://coinmarketcap.com/api/documentation/v1/)

As brought to my attention by  @CharlesChow in #46 , the `v2 API` ([Documentation Here](https://coinmarketcap.com/api/)) appears to have some major changes, such as curbing the practice of downloading all coin information in one c

[2018-07-25 22:08] LesterCovax commented on #44
@shawnholbrook better late than never for a reply I guess (whoops)....

You can start learning about them here: https://www.w3schools.com/xml/xpath_intro.asp

Then use the examples I linked to in the code, and start reading about how it's handled in Google Scripts: http://lmgtfy.com/?q=google+script+xpath

It's a PITA thanks to google scripts, so the major trick will be finding the correct XPATH t

[2018-08-01 16:42] tmlee commented on #47
May I suggest considering our API endpoints https://www.coingecko.com/api/docs/v3 from https://www.coingecko.com/en

There are already quite a number of services deploying our API.

For this use case, may I suggest the `/coins/markets` endpoint with no pagination
eg. https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd

Do let me know if this helps solve some of the problem you guys are

[2018-08-02 20:21] LesterCovax commented on #46
The code I'm running may differ.  Are you looking at the master or dev
branch?  I don't think we've pushed anything up the pipeline in a while.

On Wed, Jul 25, 2018 at 8:27 PM KTorq <notifications@github.com> wrote:

[2018-08-02 20:26] LesterCovax commented on #47
Thanks @tmlee , looks good at first glance and I'll have to take a deeper look at it.  I'm not opposed to switching API sources and I think users have even requested in the past to provide access to different API points.

Pretty cool after having received so many Coingecko moon report emails to have you drop by 😀

[2018-08-03 01:02] tmlee commented on #47
@LesterCovax Awesome, hope you are liking the moon reports :)
Alright, do look at them, open to any concerns and suggestions you may. See if we can help to make it as easy as possible for your integration.

[2018-08-08 14:22] CharlesChow commented on #46
https://www.reddit.com/r/cryptosheets/comments/8lnp3r/getting_an_error_when_attempting_to_run_getdata/
I still have that error after fix the ID and I saw it seem I cannot parse JSON data to the Google Sheets

[2018-08-11 22:51] zdavis28 opened #48 "Script won't load ethereum classic"
I for some reason can not get this to accept ethereum classic.

I've tried:
ethereum-classic
ethereum classic
ethereumclassic

Feel free to tell me how dumb I am.
`/**
 * @OnlyCurrentDoc
 */

/*
     ==============================================
   Don't change if using USD
    Possible values:
      "aud", "brl", "cad", "chf", "clp", "cny", "czk", "dkk", "eur", "gbp", "hkd", "huf",
      "idr",

[2018-08-12 14:46] CharlesChow commented on #46
Solve it! the script suddenly running smoothly I think is the bad ID formatting after all

[2018-08-19 21:36] zdavis28 commented on #48
NVM I'm just dumb.

[2018-08-19 21:36] #48 closed, assigned to nobody

[2018-08-29 20:33] zdavis28 commented on #46
This is usually caused by CMC blacklisting some of google's servers. It will resolve itself after awhile

[2018-10-04 02:26] p7b7 commented on #46
I'm stuck in " var data = JSON.parse(json);" syntax error. How did you solve it?

[2018-10-17 01:48] zdavis28 commented on #46
It resolves itself eventually. any eta on v2?

[2018-10-27 14:11] LesterCovax commented on #47
@tmlee Hoping to make the switch to Coingecko over the weekend or early next week.  The procrastination cannon has now reached full power!

[2018-12-26 23:46] #46 closed, assigned to nobody

[2018-12-28 21:37] johndoe312 commented on #47
I tried using Coingecko but unfortunately, they do not have 1H and 7D percentage changes for coins.
Instead, I tried to use the one provided by Coinstats provided here https://api.coinstats.app/public/v1/coins?skip=0

Unfortunately, I get the 'TypeError: Cannot read property' for whatever datatype I try to use for myCoins and myCoinsCount.

[2018-12-28 23:03] LesterCovax commented on #47
@johndoe312
According to my notes, the Coins endpoint can provide 1H and 7D values.  Here's a table from my notes the last time I looked into it along with a dump of URLs / endpoints I made note of:

![image](https://user-images.githubusercontent.com/34850610/50530256-b4d3e280-0ac9-11e9-8be1-dff85fda5034.png)

#### Google App Script Quotas
https://developers.google.com/apps-script/guides/services/

[2018-12-28 23:40] johndoe312 commented on #47
Thanks for the information. Unfortunately, my skills on the matter are quite limited and it's getting late but I'll give it another shot at a later stage.

[2018-12-29 00:15] johndoe312 commented on #47
Looks like I am almost there! The only problem is that when using https://api.coingecko.com/api/v3/coins
I can get the data from within the first set of {} (id etc) but not from the second set (market_data).

Unfortunately, this still would not solve everything since the results are capped and not all coins are shown.

[2018-12-29 03:46] LesterCovax commented on #47
`id` and `market_data` are at the same hierarchy, so it should be as simple as using `[1]` instead of `[0]`.  JSON is nice that way.  You can then traverse deeper with something like `data[0][1]['usd']` to get the current usd price in market_data.  That call takes the first array in the data variable, the second array within that array (market_data), and then calls for the value of the 'usd' key.

[2019-04-02 02:59] brian911 commented on #47
I taught myself javascript and re-wrote a bunch of code for my own purpose.  It uses the v2 API, so that's working now.  I also moved the variable inputs to a separate sheet called parameters so you don't need to go into the script at all.  In the parameters sheet, you can punch in your currency, CoinMarketCap API Key, ethplorer.io API key (freekey works for now), and ETH and NEO wallet addresses.

[2019-04-03 00:46] zdavis28 commented on #47
@brian911 will you send it to me?

[2019-04-03 01:44] brian911 commented on #47
Here you go.  I stripped the Google Sheets of personal data.  You'll need to input a CoinMarketCap API for the script to run.  There's a menu called crypto-sheets which you can use to reload the data.

https://docs.google.com/spreadsheets/d/1BdkCozOI7jGPtXs9o0z_1vmFzrcCwdWnHrTAeYVKSQE/edit?usp=sharing

[2019-04-03 02:48] zdavis28 commented on #47
thanks man

On Tue, Apr 2, 2019 at 8:44 PM brian911 <notifications@github.com> wrote:

[2019-04-05 19:31] tmlee commented on #47
Hi @johndoe312, we had to paginate the response data for the API. Would it be possible for you to work with paging through the results? The response header will indicate if there is more page to iterate.

Any feedback would be helpful for us to see how we can improve and match your use case

[2019-04-06 15:25] johndoe312 commented on #47
Thanks. To be honest, in the meantime I found an alternative and have been using that since the issue cropped up.

[2019-04-08 16:17] Armour65 opened #49 "Prices USD wrong after first refresh run"
Hi. I am obviously doing something wrong. When I run the script for the first time everything works a treat but after that the prices USD get completely wrong. Can anybody help me please?

![Screen Shot 2019-04-08 at 18 17 24](https://user-images.githubusercontent.com/49408507/55740039-95364980-5a2a-11e9-8976-198b5c6e8040.png)

[2019-06-23 20:42] dan-mesa opened #50 "SpreadsheetApp.getUi() cannot be called from this context"
When creating a trigger, the `onOpen` function runs the `createMenu` function which throws the error in the issue title, and the scheduled trigger fails. I worked around that by creating an `onTrigger` function:

[code]

and executing that instead of `onOpen` strictly within the trigger. Everything else worked well, much better than the scraping that I had in place prior to finding this!

[2019-07-16 03:20] Jstorms1991 opened #51 "SyntaxError: Unexpected token: < (line 268, file "Code")"
Just went step by step with the guide. Couldn't find any solution for the the error listed. Took a screenshot as well just in case. Thanks in advance.

Line 268 is listed below.

var data = JSON.parse(json);

![Screen Shot 2019-07-15 at 11 16 19 PM](https://user-images.githubusercontent.com/52945342/61263467-f0c55100-a756-11e9-91e4-b8688b86a975.png)

[2019-07-21 07:00] blackrandom commented on #51
The API for coinmarketcap has changed, you need to make an account now and update the code to use the new format, instructions here [https://pro.coinmarketcap.com/migrate/]. Here's the changes I had to make to get this working:

Updated parsed data, starts at line 105 for me. The value 'price_btc' is not in the new API so it still shows as 'undefined' on the spreadsheet. Not sure if anyone can fix

[2020-11-28 18:51] mikaelarhelger opened #52 "Nimiq"
Please add Nimiq if not done so already